In [2]:
from pyspark import SparkContext, SparkConf
cf = SparkConf()
cf.set("spark.submit.deployMode","client")
sc = SparkContext.getOrCreate(cf)
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("assignment4").config("spark.some.config.option","some-value").getOrCreate()

### Question 1

In [20]:
from pyspark.sql.functions import hour, count
df = spark.read.format("csv").option("header", "true").load("BreadBasket_DMS.csv")
df = df.filter(hour(df["Time"]) >= 9).filter(hour(df["Time"]) < 23)
items = df.groupBy("Item").agg(count("*").alias("count")).orderBy("count", ascending=False).limit(5)
items.show()

+------+-----+
|  Item|count|
+------+-----+
|Coffee| 5259|
| Bread| 3151|
|   Tea| 1414|
|  Cake| 1017|
|Pastry|  797|
+------+-----+

### Question 2

In [21]:
df = spark.read.format("csv").option("delimiter", ";").option("header", "true").load("Restaurants_in_Durham_County_NC.csv")

counts = df.groupBy("rpt_area_desc").count().orderBy("count", ascending=True)

counts.show()

+--------------------+-----+
|       rpt_area_desc|count|
+--------------------+-----+
|   Bed&Breakfast Inn|    2|
|   Local Confinement|    2|
|  Bed&Breakfast Home|    4|
|        Summer Camps|    4|
|      Adult Day Care|    5|
|                null|   13|
|        Institutions|   30|
|Tattoo Establishm...|   32|
|             Lodging|   62|
|    School Buildings|   89|
|         Mobile Food|  147|
|    Residential Care|  154|
|            Day Care|  173|
|         Summer Food|  242|
|      Swimming Pools|  420|
|        Food Service| 1093|
+--------------------+-----+

### Question 3

In [3]:
from pyspark.sql.functions import lag, col, when, round
from pyspark.sql.functions import when
from pyspark.sql.window import Window
from pyspark.sql.functions import lag, col
from pyspark.sql.functions import expr

df = spark.read.format('csv').options(inferSchema='true', header='true').load('populationbycountry19802010millions.csv')
df = df.replace(['NA', '--'], [None, None])

df = df.fillna(0)

df_melted = df.selectExpr(
    "_c0",
    "stack(31, '1980', cast(`1980` as string), '1981', cast(`1981` as string), '1982', cast(`1982` as string), '1983', cast(`1983` as string), '1984', cast(`1984` as string), '1985', cast(`1985` as string), '1986', cast(`1986` as string), '1987', cast(`1987` as string), '1988', cast(`1988` as string), '1989', cast(`1989` as string), '1990', cast(`1990` as string), '1991', cast(`1991` as string), '1992', cast(`1992` as string), '1993', cast(`1993` as string), '1994', cast(`1994` as string), '1995', cast(`1995` as string), '1996', cast(`1996` as string), '1997', cast(`1997` as string), '1998', cast(`1998` as string), '1999', cast(`1999` as string), '2000', cast(`2000` as string), '2001', cast(`2001` as string), '2002', cast(`2002` as string), '2003', cast(`2003` as string), '2004', cast(`2004` as string), '2005', cast(`2005` as string), '2006', cast(`2006` as string), '2007', cast(`2007` as string), '2008', cast(`2008` as string), '2009', cast(`2009` as string), '2010', cast(`2010` as string))"
).withColumnRenamed("col0", "Year").withColumnRenamed("col1", "Population")

df_melted = df_melted.withColumn("Population", when((col("Population") == "NA") | (col("Population") == "--"), 0).otherwise(col("Population")))

df = df_melted
w = Window.partitionBy("_c0").orderBy("Year")

df = df.withColumn("prev_pop", lag("Population", 1).over(w))
df = df.withColumn("yearly_increase", col("Population") - col("prev_pop"))


df = df.withColumn("percent_increase", when(col("prev_pop").isNull(), 0)
                   .otherwise(col("yearly_increase") / col("prev_pop") * 100))

df = df.withColumn("percent_increase", when((col("percent_increase") == None),0).otherwise(col("percent_increase")))

df1 = df.alias("df1")
df2 = df.alias("df2")

result = df1.join(df2, 'Year')

result = result.select('Year', 'df1._c0', 'df1.percent_increase')

result = result.filter(col('df1.percent_increase').isNotNull())

for year in result.select('Year').distinct().collect():
    year = year.Year
    print(f"\nYear {year}:")
    result.filter(col('Year') == year).orderBy('percent_increase', ascending=False).show(1)
    result.filter(col('Year') == year).orderBy('percent_increase').show(1)

Year 1987:
+----+-------------+------------------+
|Year|          _c0|  percent_increase|
+----+-------------+------------------+
|1987|French Guiana|11.111111111111121|
+----+-------------+------------------+
only showing top 1 row

+----+------------+-------------------+
|Year|         _c0|   percent_increase|
+----+------------+-------------------+
|1987|Saint Helena|-21.299638989169676|
+----+------------+-------------------+
only showing top 1 row


Year 1988:
+----+--------------+------------------+
|Year|           _c0|  percent_increase|
+----+--------------+------------------+
|1988|Cayman Islands|11.010421386497516|
+----+--------------+------------------+
only showing top 1 row

+----+----------+-------------------+
|Year|       _c0|   percent_increase|
+----+----------+-------------------+
|1988|Mozambique|-2.8836318375165324|
+----+----------+-------------------+
only showing top 1 row


Year 1984:
+----+-----+------------------+
|Year|  _c0|  percent_increase|
+----+-----+------------------+
|1984|Qatar|10.964057316781224|
+----+-----+------------------+
only showing top 1 row

+----+-------------------+-------------------+
|Year|                _c0|   percent_increase|
+----+-------------------+-------------------+
|1984|Antigua and Barbuda|-1.7525144772935055|
+----+-------------------+-------------------+
only showing top 1 row


Year 1982:
+----+--------------+------------------+
|Year|           _c0|  percent_increase|
+----+--------------+------------------+
|1982|Western Sahara|11.115105327485802|
+----+--------------+------------------+
only showing top 1 row

+----+-----------+------------------+
|Year|        _c0|  percent_increase|
+----+-----------+------------------+
|1982|Afghanistan|-8.017227257036874|
+----+-----------+------------------+
only showing top 1 row


Year 2005:
+----+-------+------------------+
|Year|    _c0|  percent_increase|
+----+-------+------------------+
|2005|Liberia|4.7976709085316545|
+----+-------+------------------+
only showing top 1 row

+----+----------+------------------+
|Year|       _c0|  percent_increase|
+----+----------+------------------+
|2005|Montserrat|-8.669354838709674|
+----+----------+------------------+
only showing top 1 row


Year 2000:
+----+----------+------------------+
|Year|       _c0|  percent_increase|
+----+----------+------------------+
|2000|Montserrat|16.863905325443792|
+----+----------+------------------+
only showing top 1 row

+----+------------+------------------+
|Year|         _c0|  percent_increase|
+----+------------+------------------+
|2000|Cook Islands|-3.262158956109125|
+----+------------+------------------+
only showing top 1 row


Year 1981:
+----+--------------+------------------+
|Year|           _c0|  percent_increase|
+----+--------------+------------------+
|1981|Western Sahara|12.133182844243787|
+----+--------------+------------------+
only showing top 1 row

+----+-----------+------------------+
|Year|        _c0|  percent_increase|
+----+-----------+------------------+
|1981|Afghanistan|-9.106330931425992|
+----+-----------+------------------+
only showing top 1 row


Year 2002:
+----+----------+----------------+
|Year|       _c0|percent_increase|
+----+----------+----------------+
|2002|Montserrat|13.4433962264151|
+----+----------+----------------+
only showing top 1 row

+----+------------+-------------------+
|Year|         _c0|   percent_increase|
+----+------------+-------------------+
|2002|Cook Islands|-3.6872218690400547|
+----+------------+-------------------+
only showing top 1 row


Year 2009:
+----+-------+-----------------+
|Year|    _c0| percent_increase|
+----+-------+-----------------+
|2009|Liberia|4.157111008408977|
+----+-------+-----------------+
only showing top 1 row

+----+------------+-------------------+
|Year|         _c0|   percent_increase|
+----+------------+-------------------+
|2009|Cook Islands|-3.2599837000814937|
+----+------------+-------------------+
only showing top 1 row


Year 1995:
+----+-------+-----------------+
|Year|    _c0| percent_increase|
+----+-------+-----------------+
|1995|Burundi|7.222488903730303|
+----+-------+-----------------+
only showing top 1 row

+----+------+-------------------+
|Year|   _c0|   percent_increase|
+----+------+-------------------+
|1995|Rwanda|-15.871881307134093|
+----+------+-------------------+
only showing top 1 row


Year 2006:
+----+------+-----------------+
|Year|   _c0| percent_increase|
+----+------+-----------------+
|2006|Jordan|7.088496587486171|
+----+------+-----------------+
only showing top 1 row

+----+-----+-----------------+
|Year|  _c0| percent_increase|
+----+-----+-----------------+
|2006|Nauru|-4.39560439560439|
+----+-----+-----------------+
only showing top 1 row


Year 2004:
+----+----------+------------------+
|Year|       _c0|  percent_increase|
+----+----------+------------------+
|2004|Montserrat|10.467706013363028|
+----+----------+------------------+
only showing top 1 row

+----+--------+------------------+
|Year|     _c0|  percent_increase|
+----+--------+------------------+
|2004|Djibouti|-4.830771012478633|
+----+--------+------------------+
only showing top 1 row


Year 1989:
+----+--------------------+-----------------+
|Year|                 _c0| percent_increase|
+----+--------------------+-----------------+
|1989|United Arab Emirates|6.119858265290403|
+----+--------------------+-----------------+
only showing top 1 row

+----+-------+-------------------+
|Year|    _c0|   percent_increase|
+----+-------+-------------------+
|1989|Somalia|-2.1964965331028314|
+----+-------+-------------------+
only showing top 1 row


Year 1992:
+----+------+-----------------+
|Year|   _c0| percent_increase|
+----+------+-----------------+
|1992|Kuwait|48.63343882962002|
+----+------+-----------------+
only showing top 1 row

+----+-------+------------------+
|Year|    _c0|  percent_increase|
+----+-------+------------------+
|1992|Somalia|-5.387440289087449|
+----+-------+------------------+
only showing top 1 row


Year 2008:
+----+----------+------------------+
|Year|       _c0|  percent_increase|
+----+----------+------------------+
|2008|Montserrat|12.638580931263862|
+----+----------+------------------+
only showing top 1 row

+----+------------+------------------+
|Year|         _c0|  percent_increase|
+----+------------+------------------+
|2008|Cook Islands|-3.309692671394801|
+----+------------+------------------+
only showing top 1 row


Year 1999:
+----+--------------------+-----------------+
|Year|                 _c0| percent_increase|
+----+--------------------+-----------------+
|1999|Falkland Islands ...|7.692307692307695|
+----+--------------------+-----------------+
only showing top 1 row

+----+------------+-------------------+
|Year|         _c0|   percent_increase|
+----+------------+-------------------+
|1999|Cook Islands|-2.9919447640966608|
+----+------------+-------------------+
only showing top 1 row


Year 1994:
+----+-----------+-----------------+
|Year|        _c0| percent_increase|
+----+-----------+-----------------+
|1994|Afghanistan|8.727661664211226|
+----+-----------+-----------------+
only showing top 1 row

+----+------+-------------------+
|Year|   _c0|   percent_increase|
+----+------+-------------------+
|1994|Rwanda|-14.363511428676738|
+----+------+-------------------+
only showing top 1 row


Year 1997:
+----+--------------------+------------------+
|Year|                 _c0|  percent_increase|
+----+--------------------+------------------+
|1997|Falkland Islands ...|21.499999999999993|
+----+--------------------+------------------+
only showing top 1 row

+----+----------+-------------------+
|Year|       _c0|   percent_increase|
+----+----------+-------------------+
|1997|Montserrat|-25.157232704402517|
+----+----------+-------------------+
only showing top 1 row


Year 2007:
+----+------+-----------------+
|Year|   _c0| percent_increase|
+----+------+-----------------+
|2007|Jordan|6.764378108744186|
+----+------+-----------------+
only showing top 1 row

+----+-----+------------------+
|Year|  _c0|  percent_increase|
+----+-----+------------------+
|2007|Nauru|-4.702194357366779|
+----+-----+------------------+
only showing top 1 row


Year 1996:

+----+------+-----------------+
|Year|   _c0| percent_increase|
+----+------+-----------------+
|1996|Rwanda|19.61417728550077|
+----+------+-----------------+
only showing top 1 row

+----+----------+-------------------+
|Year|       _c0|   percent_increase|
+----+----------+-------------------+
|1996|Montserrat|-22.590068159688407|
+----+----------+-------------------+
only showing top 1 row


Year 1983:
+----+-------------+------------------+
|Year|          _c0|  percent_increase|
+----+-------------+------------------+
|1983|French Guiana|14.285714285714276|
+----+-------------+------------------+
only showing top 1 row

+----+-------------------+-------------------+
|Year|                _c0|   percent_increase|
+----+-------------------+-------------------+
|1983|Antigua and Barbuda|-3.5141890898397343|
+----+-------------------+-------------------+
only showing top 1 row


Year 1980:
+----+-----------+----------------+
|Year|        _c0|percent_increase|
+----+-----------+----------------+
|1980|Afghanistan|             0.0|
+----+-----------+----------------+
only showing top 1 row

+----+-----------+----------------+
|Year|        _c0|percent_increase|
+----+-----------+----------------+
|1980|Afghanistan|             0.0|
+----+-----------+----------------+
only showing top 1 row


Year 1986:
+----+-----+-----------------+
|Year|  _c0| percent_increase|
+----+-----+-----------------+
|1986|Qatar|8.771732719152874|
+----+-----+-----------------+
only showing top 1 row

+----+--------------------+------------------+
|Year|                 _c0|  percent_increase|
+----+--------------------+------------------+
|1986|Netherlands Antilles|-24.58781655279631|
+----+--------------------+------------------+
only showing top 1 row


Year 1985:
+----+-------------+------------------+
|Year|          _c0|  percent_increase|
+----+-------------+------------------+
|1985|French Guiana|12.499999999999993|
+----+-------------+------------------+
only showing top 1 row

+----+------------+-------------------+
|Year|         _c0|   percent_increase|
+----+------------+-------------------+
|1985|Cook Islands|-1.4092446448703508|
+----+------------+-------------------+
only showing top 1 row


Year 1998:
+----+-------+-----------------+
|Year|    _c0| percent_increase|
+----+-------+-----------------+
|1998|Liberia|12.01744976042338|
+----+-------+-----------------+
only showing top 1 row

+----+----------+------------------+
|Year|       _c0|  percent_increase|
+----+----------+------------------+
|1998|Montserrat|-43.19327731092437|
+----+----------+------------------+
only showing top 1 row


Year 1993:
+----+-----------+------------------+
|Year|        _c0|  percent_increase|
+----+-----------+------------------+
|1993|Afghanistan|13.224594754698687|
+----+-----------+------------------+
only showing top 1 row

+----+--------------------+------------------+
|Year|                 _c0|  percent_increase|
+----+--------------------+------------------+
|1993|Bosnia and Herzeg...|-7.072116841830721|
+----+--------------------+------------------+
only showing top 1 row


Year 2001:
+----+----------+-----------------+
|Year|       _c0| percent_increase|
+----+----------+-----------------+
|2001|Montserrat|7.341772151898719|
+----+----------+-----------------+
only showing top 1 row

+----+------------+-----------------+
|Year|         _c0| percent_increase|
+----+------------+-----------------+
|2001|Cook Islands|-3.55610055180871|
+----+------------+-----------------+
only showing top 1 row


Year 2010:
+----+-----+-----------------+
|Year|  _c0| percent_increase|
+----+-----+-----------------+
|2010|Niger|3.737166190281749|
+----+-----+-----------------+
only showing top 1 row

+----+------------+-------------------+
|Year|         _c0|   percent_increase|
+----+------------+-------------------+
|2010|Cook Islands|-3.2013479359730423|
+----+------------+-------------------+
only showing top 1 row


Year 1990:
+----+--------+-----------------+
|Year|     _c0| percent_increase|
+----+--------+-----------------+
|1990|Djibouti|12.82404791501865|
+----+--------+-----------------+
only showing top 1 row

+----+-------+-------------------+
|Year|    _c0|   percent_increase|
+----+-------+-------------------+
|1990|Liberia|-12.816300240117076|
+----+-------+-------------------+
only showing top 1 row


Year 1991:
+----+------+------------------+
|Year|   _c0|  percent_increase|
+----+------+------------------+
|1991|Jordan|11.273939557210028|
+----+------+------------------+
only showing top 1 row

+----+------+-----------------+
|Year|   _c0| percent_increase|
+----+------+-----------------+
|1991|Kuwait|-55.4531619095637|
+----+------+-----------------+
only showing top 1 row


Year 2003:
+----+-----------+-----------------+
|Year|        _c0| percent_increase|
+----+-----------+-----------------+
|2003|Afghanistan|5.803891762260126|
+----+-----------+-----------------+
only showing top 1 row

+----+----------+------------------+
|Year|       _c0|  percent_increase|
+----+----------+------------------+
|2003|Montserrat|-6.652806652806651|
+----+----------+------------------+
only showing top 1 row

### Question 4

In [18]:
import re

lines = spark.read.text("romeo-juliet-pg1777.txt").rdd.map(lambda r: r[0])
words = lines.flatMap(lambda line: re.sub(r'[^\w\s]','',line).lower().split())
clean_words = words.filter(lambda word: bool(re.match(r'^[0-9a-zA-Z]+$', word)))
word_counts = clean_words.map(lambda word: (word, 1)).reduceByKey(lambda a, b: a + b)
for word, count in word_counts.takeOrdered(20, key=lambda x: -x[1]):
    print(f"{word}: {count}")

and: 773
the: 748
i: 585
to: 580
a: 483
of: 474
is: 383
that: 365
my: 360
in: 328
you: 323
thou: 277
not: 275
with: 268
for: 267
me: 265
this: 258
it: 237
be: 234
but: 186